#task-list .accordion>.card>.card-header {
    border-radius: -15;
    margin: 0;
}

#task-list .table-light tbody+tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #ffc107;
}

#task-list .card-header {
 padding: 0%;
}

